@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
}

.NavBar > ul {
  background-color: rgb(231, 231, 227);
}

.NavBar > .ant-skeleton {
  border-bottom: 1px solid rgba(5, 5, 5, 0.06);
  background-color: rgb(231, 231, 227);
}

.logout-button {
  margin-left: auto !important;
}

.LoginPage {
  height: calc(100vh - 50px);
}

.LoginPageLoader {
  height: calc(100vh - 50px);
}

.LoginPageLoader > div {
  width: 282px;
}

.RegistrationPage {
  height: calc(100vh - 50px);
}

.RegistrationPageLoader {
  height: calc(100vh - 50px);
}

.RegistrationPageLoader > div {
  width: 282px;
}
