@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  min-height: calc(100vh - 46px);
  height: calc(100vh - 46px);
}

body {
  background-color: rgb(49, 49, 49);
}

h1 {
  color: rgba(255, 255, 255, 0.85);
}

.NavBar,
.ant-skeleton-paragraph {
  height: 46px;
}

.logout-button {
  margin-left: auto !important;
}

.LoginPageLoader > div {
  width: 288px;
}

.RegistrationPageLoader > div {
  width: 288px;
}

.ant-modal-header,
.ant-modal-title {
  text-align: center;
}

.ant-card-cover {
  height: 320px;
}
